.task {
    display: inline;
    text-align: center;
    font-size: 1.5rem;
    background-color: #61dafb;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1.5rem;
}
.task-remove-btn{
    float:right;
    margin : 0px 10px
}

.task-left-btn {
    float: right;
}

.task-right-btn {
    float: left;
}
